{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center"> Bienvenido a Taskeate </h1>
        <strong href="">Administre sus tareas de forma eficiente</strong>
        <p>Taskeate es una plataforma intuitiva y eficiente diseñada para simplificar la gestión de tareas, ofreciendo a los usuarios una experiencia fluida y personalizable. Con Taskeate, puedes ingresar, editar y eliminar tareas con facilidad, permitiéndote mantener un control total sobre tu lista de quehaceres diarios.
        La interfaz amigable de Taskeate organiza las tareas en dos categorías principales: pendientes y completadas. Esto facilita la visualización y el seguimiento del progreso, permitiéndote enfocarte en las tareas aún por realizar y celebrar los logros alcanzados.Además de su funcionalidad principal, Taskeate ofrece herramientas de edición que te permiten ajustar detalles y prioridades de cada tarea según tus necesidades cambiantes. Ya sea que estés planificando proyectos a largo plazo o simplemente organizando tu día a día, Taskeate se adapta a tu estilo de trabajo. Con Taskeate, la gestión de tareas se convierte en una tarea sencilla y eficaz. Simplifica tu vida, optimiza tu productividad y alcanza tus metas con este software diseñado para hacer que tu día sea más productivo y organizado.</p>
    </section>
</main>


{% endblock %}
